In [1]:
import os
import pandas as pd

In [2]:
DIR = "/Users/temp-admin/repositories/fine_tune_llm/data/validation/clean"

In [19]:
FILE = "tag.csv"

In [20]:
df = pd.read_csv(os.path.join(DIR, FILE), nrows=10)

In [21]:
df.columns

Index(['Unnamed: 0', 'tag', 'version', 'custom', 'abstract', 'datatype',
       'iord', 'crdr', 'tlabel', 'doc'],
      dtype='object')

In [18]:
df.head(2)

,Unnamed: 0,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0,0000004457-23-000026,4457,U-HAUL HOLDING CO /NV/,7510.0,US,NV,RENO,89511,5555 KIETZKE LANE STE 100,...,20230331.0,NaN,NaN,20230329,2023-03-29 16:05:00.0,0,0,uhal-20230323_htm.xml,1,NaN
1,1,0000005272-23-000014,5272,"AMERICAN INTERNATIONAL GROUP, INC.",6331.0,US,NY,NEW YORK,10020-1304,1271 AVE OF THE AMERICAS,...,NaN,NaN,NaN,20230329,2023-03-29 16:44:00.0,0,0,aig-20230329_htm.xml,1,NaN